/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* Optional: Menghindari masalah padding/border memperbesar elemen */
}

/* Optional: Menangani beberapa elemen yang perlu mendapatkan gaya khusus */
html {
  font-size: 16px;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
table,
tr,
th,
td,
form,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Reset untuk ul, li, dan a */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* COLOR */
:root {
  --primary-color: #2ecc71; /* Warna utama hijau */
  --primary-color-2: rgba(0, 255, 21, 0.1); /* Warna utama hijau */
  --secondary-color: #27ae60; /* Warna hijau sekunder */
  --accent-color: #3498db; /* Warna aksen, misalnya untuk tombol atau elemen yang menonjol */
  --background-color: #ebe9e9; /* Warna latar belakang umum */
  --light-text-color: #ebe9e9; /* Warna latar belakang umum */
  --text-color: #333; /* Warna teks umum */
  --link-color: #2980b9; /* Warna untuk tautan/hyperlink */
  --success-color: #16a085; /* Warna untuk pesan keberhasilan atau indikator positif */
  --error-color: #e74c3c; /* Warna untuk pesan kesalahan atau indikator negatif */
  --warning-color: #ff4500; /* Warna untuk pesan kesalahan atau indikator negatif */
}

body {
  background-color: grey;
}

h1 {
  font-size: 2rem;
}

html,
body {
  width: 100%;
  height: 100vh;
  /* user-select: none; */
  display: flex;
  background-color: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-width: 50px;
  max-width: 400px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: lightcyan;
}
.accordion-button,
.accordion-body {
  background-color: lightcyan !important;
}
.accordion-body {
  padding: 0 1rem 0 34px !important;
}

.resizer {
  width: 4px;
  top: 0;
  right: 0;
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 100;
}
.resizer:hover {
  background-color: grey;
}

.rs-content {
  flex-grow: 1;
  height: 100vh;
  overflow-x: hidden;
  padding: 3% 22px;
  background-color: lightblue;
}

.sidebar ul {
  padding: 0;
}

.sidebar .nav-link {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  white-space: nowrap !important;
}

.nav-link svg {
  flex-shrink: 0; /* Menghentikan ikon dari pengecilan */
}

.text-link {
  flex-grow: 1; /* Memungkinkan teks untuk memperluas dan menyembunyikan jika tidak muat */
  overflow: hidden;
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap; /* Mencegah pemisahan kata */
  text-overflow: ellipsis; /* Menampilkan elipsis jika teks terlalu panjang */
}
